body {background-color:#0E202A;color:white;}
p {color:white;font-size: 20px} 
body {color:white;}
h1 {font-size: 30px;color:white; style:text-align-center }
h2 {font-size: 25px;color:white; border: 2px solid white; }
a:hover {color: orange;}



.pic_top{
	position: relative;
	padding: 5px;
	top: 70px;    
    	font-size: 30px;
    	color:white;
    	text-shadow: 2px 2px #000000;}

